.movies-container {
    width: 100%;
    max-width: 1100px;
    min-height: 100vh;
    margin: 0 auto;
    background-color: #FFFFFF;
}

.movies-container__tab {
    padding: 0 34px;
}

@media (max-width: 767px) {
    .movies-container__tab {
        padding: 10px 12px;
    }
}

.movies-container__pagination {
    text-align: center;
    padding: 24px 24px 15px 24px;
}

.movies-container__search-from {
    margin-bottom: 32px;
}